body {
    padding: 0;
    margin: 0;
    font-family: HelveticaNeue-Light, "Helvetica Neue", Arial, sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;
    overflow: hidden;
}

.container {
    text-align: center;
    font-size: 50px;
}

.container.timer {
    font-family: HelveticaNeue-UltraLight, "Helvetica Neue", Arial, sans-serif;
    margin-top: 20px;
}

.container.letter {
    font-size: 80px;
    font-family: HelveticaNeue-UltraLight, "Helvetica Neue", Arial, sans-serif;
    -webkit-user-select: none;
}

.hr {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 10px 0 10px 0;
}

#list-select-placeholder {
    /*display:none;*/
    width: 80%;
    margin: 10px auto;
}

select {
    width: 100%
}

.buttons-container {
    background-color: rgba(0,0,0,0.10);
    text-align: center;
}

.button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    display: inline-block;
    margin: 10px;
    background-color: white;
}

.button.green {
    border: 1px solid green;
    color: green;
}

.button.red {
    border: 1px solid red;
    color: red;
}

.button.grey {
    border: 1px solid #808080;
    color: grey;
    pointer-events: none;
    background-color: rgba(0,0,0,0);
}

.button.black {
    border: 1px solid black;
    color: black;
}

.list {
    padding-bottom: 10px;
    font-size: small;    
    text-align: left;
}

.popInAnimation {
    -webkit-animation:pop-in 0.4s;
}

@-webkit-keyframes pop-in {
    0% { -webkit-transform: scale(1); }
    50% {  -webkit-transform: scale(1.4); }
    100% {  -webkit-transform: scale(1); }
}

#help-button{
    display: none;
    position:fixed;
    bottom:0;
    right:0;
    border: 2px solid grey;
    border-radius:50%;
    width: 20px;
    height: 20px;
    text-align: center;
    margin:5px;
    font-size: smaller;
    line-height: 20px;
}
#pack-selector {
    display: none;
    padding: 10px;
    background-color:  rgba(0,0,0,0.05);
}

#list-select .chevron,
#pack-selector .chevron{
    position: absolute;
    display: inline-block;
    right: 0;
    margin-right: 10px;
}

#list-select {
    display: none;
    padding:10px;
    background-color:  rgba(0,0,0,0.025);
}

#easter-egg {
    position: absolute;
    top: -300px;
    height: 300px;
    margin: 0 auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}


.element-animation{
    animation: animationFrames ease-in-out 2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes animationFrames{
    0% {
        -webkit-transform: translate(0px, 0px) rotate(180deg);
        -moz-transform: translate(0px, 0px) rotate(180deg);
        -ms-transform: translate(0px, 0px) rotate(180deg);
        -o-transform: translate(0px, 0px) rotate(180deg);
        transform: translate(0px, 0px) rotate(180deg);
    }
    50% {
        -webkit-transform: translate(0px, 250px) rotate(180deg);
        -moz-transform: translate(0px, 250px) rotate(180deg);
        -ms-transform: translate(0px, 250px) rotate(180deg);
        -o-transform: translate(0px, 250px) rotate(180deg);
        transform: translate(0px, 250px) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(0px, 0px) rotate(180deg);
        -moz-transform: translate(0px, 0px) rotate(180deg);
        -ms-transform: translate(0px, 0px) rotate(180deg);
        -o-transform: translate(0px, 0px) rotate(180deg);
        transform: translate(0px, 0px) rotate(180deg);
    }
}