<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.gream.wordchallenge"
        versionCode="10"
        version="1.0.1">

    <name>WordChallenge</name>
    <preference name="orientation" value="portrait"/>
    <description>
        An app replacement for the board game Scattergories!
    </description>
    <author href="https://gream.co.uk/WordChallenge" email="wordchallenge@gream.co.uk">
        Gream Ltd
    </author>
    <icon src="icon.png"/>
    <gap:splash src="splash.png"/>
</widget>